@view-transition {
	navigation: auto;
}
.wp-block-pikari-gutenberg-query-filter {
	--pikari-gutenberg-query-filter-option-gap: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}
